
.a {  
     
    background-color: aqua;
}

.b {  
    background-color: blueviolet;
}

.c {  
    background-color: beige; 
}

.d {  
   background-color: rgb(20, 26, 15);
}

.e {  
    background-color: rgb(39, 156, 156);
 }

 .f {  
    background-color: rgb(255, 0, 191);
 }

 .g {  
    background-color: rgb(156, 56, 160);
 }

 .h {  
    background-color: rgb(66, 122, 9);
 }

 .i {  
    grid-area: i;  
    background-color: rgb(158, 161, 155);
 }




    @keyframes rubberBand {
        from {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      
        30% {
          -webkit-transform: scale3d(1.25, 0.75, 1);
          transform: scale3d(1.25, 0.75, 1);
        }
      
        40% {
          -webkit-transform: scale3d(0.75, 1.25, 1);
          transform: scale3d(0.75, 1.25, 1);
        }
      
        50% {
          -webkit-transform: scale3d(1.15, 0.85, 1);
          transform: scale3d(1.15, 0.85, 1);
        }
      
        65% {
          -webkit-transform: scale3d(0.95, 1.05, 1);
          transform: scale3d(0.95, 1.05, 1);
        }
      
        75% {
          -webkit-transform: scale3d(1.05, 0.95, 1);
          transform: scale3d(1.05, 0.95, 1);
        }
      
        to {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      }
      
      
      